<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
		id="co.uk.ultimateweb.imagefilter"
		version="1.0.0">

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<name>ImageFilter</name>

	<description>
		ImageFilter plugin for iOS, forked from https://github.com/DrewDahlman/ImageFilter
	</description>

	<js-module src="www/ImageFilter.js" name="ImageFilter">
		<clobbers target="cordova.plugins.imagefilter" />
	</js-module>

	<!-- iOS -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="ImageFilter">
				<param name="ios-package" value="ImageFilter" />
			</feature>
		</config-file>

		<header-file src="src/ios/ImageFilter.h" />
		<source-file src="src/ios/ImageFilter.m" />

		<header-file src="src/ios/ImageFilters/Platforms.h" />

		<header-file src="src/ios/ImageFilters/ImageFilters.h" />
		<source-file src="src/ios/ImageFilters/ImageFilters.m" />

		<header-file src="src/ios/ImageFilters/ImageFilterCache.h" />
		<source-file src="src/ios/ImageFilters/ImageFilterCache.m" />

		<header-file src="src/ios/ImageFilters/CIBlueMoodFilter.h" />
		<source-file src="src/ios/ImageFilters/CIBlueMoodFilter.m" />

		<header-file src="src/ios/ImageFilters/CIFilter+Filter.h" />
		<source-file src="src/ios/ImageFilters/CIFilter+Filter.m" />

		<header-file src="src/ios/ImageFilters/CIImage+Filter.h" />
		<source-file src="src/ios/ImageFilters/CIImage+Filter.m" />

		<header-file src="src/ios/ImageFilters/NGFilterConstructor.h" />
		<source-file src="src/ios/ImageFilters/NGFilterConstructor.m" />

		<header-file src="src/ios/ImageFilters/NGFilterStore.h" />
		<source-file src="src/ios/ImageFilters/NGFilterStore.m" />

		<header-file src="src/ios/ImageFilters/UIImage+Filter.h" />
		<source-file src="src/ios/ImageFilters/UIImage+Filter.m" />

		<!-- <header-file src="src/ios/ELCImagePicker/ELCAsset.h" />
		<source-file src="src/ios/ELCImagePicker/ELCAsset.m" />

		<header-file src="src/ios/ELCImagePicker/ELCAssetCell.h" />
		<source-file src="src/ios/ELCImagePicker/ELCAssetCell.m" />

		<header-file src="src/ios/ELCImagePicker/ELCAssetPickerFilterDelegate.h" />
		<header-file src="src/ios/ELCImagePicker/ELCAssetSelectionDelegate.h" />

		<header-file src="src/ios/ELCImagePicker/ELCAssetTablePicker.h" />
		<source-file src="src/ios/ELCImagePicker/ELCAssetTablePicker.m" />

		<header-file src="src/ios/ELCImagePicker/ELCImagePickerController.h" />
		<source-file src="src/ios/ELCImagePicker/ELCImagePickerController.m" /> -->
		<!--required frameworks for weibo sdk-->
	  
	</platform>

	<!-- Android -->
	<platform name="android">
		<source-file src="src/android/Filters.java" target-dir="src/co/uk/ultimateweb/imagefilter" />
		<source-file src="src/android/ImageFilter.java" target-dir="src/co/uk/ultimateweb/imagefilter" />

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="ImageFilter">
				<param name="android-package" value="co.uk.ultimateweb.imagefilter.ImageFilter" />
			</feature>
		</config-file>
	</platform>

</plugin>